.inp{
    padding-top: 10px;
    margin-top: 10px;
    
}
body{
    background-color: #121312;
}
form{
    display: flex;
   
    align-items: center;
    justify-content: center;
    margin: 8px auto;
}
.formbutt{
    
    margin-top: 10px;
    margin-bottom: 200px;
}
header{ 
    margin: -8px;
    background-color: black;
    color: blue;}

.header{
    display: grid;
    grid-template-rows: 50px ;
    grid-template-columns: 120px auto 120px 10px;
    
}

p{  
    color: white;
    padding-top:5px;
    align-items: center;
    justify-content: center;
    
    /*height: 400px;*/
}

fieldset{
    padding: 100px;
    background-color:#a5cfa5;
    /*color: rgb(27, 221, 221);*/
    border-color: rgb(59, 24, 24);
    border-style: solid;
}

#settings{
    /*width: 90px;
    /*margin: 10px;*/
    /*margin-left: 89%;*/
    margin-top: 10px;
    height: 30px;
    border: 1px;
    border-color: #b0e7b0 ;
    border-style: solid; 
    color:black;
    background-color:#b0e7b0;
    transition: color 0.5s ; 
    
}
#settings:hover{
    color:aqua;
    background-color:#5784c0;
    border-color: aqua ;
    transition: all 0.5s ; 
}
